/* Global Style */

*{
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
}

body{    
    background-color: #F5F5F5;
}


.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn{
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: white;
    background-color: #006A50;
    padding: 17px 34px 17px 34px;
    border: 1px solid #006A50;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: transparent;
    color: #006A50;
}



/* Header */

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

nav .site-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.btn-hd{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #006A50;
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid #006A50;
    border-radius: 8px;
    transition: all 0.3s ease;

}

.btn-hd:hover{
    background-color: #006A50;
    color: white;
}

/* Hero section */

.hero-box{
    display: flex;
    align-items: center;
    gap: 64px;
    justify-content: space-between;
    padding: 80px 60px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.hero-box .hero-content{
    width: 600px;
}

.hero-content .subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.hero-content .hero-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin: 16px 0 24px;
}

.hero-img-box{
    width: 474px;
}


.hero-box img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

